* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Grold-Regular";
}
@font-face {
  font-family: "Grold-Regular";
  src: url(./assets/Fonts/Grold-Regular.ttf);
}

.collect {
  padding: 40px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
}

.type {
  padding: 20px;
  border: 1px solid #0d2c45;
  border-width: 1px;
  border-style: solid;
  border-color: var(--ast-border-color);
  box-shadow: 2px 1px 2px 1px #000046;
}
.type:hover {
  background-color: rgba(227, 227, 241, 0.479);
}
.details :hover {
  background-color: rgba(227, 227, 241, 0.479);
}
select {
  display: block;
  color: #000046;
  padding: 0.75em;
  height: auto;
  border-width: 1px;
  border-style: solid;
  border-color: var(--ast-border-color);
  border-radius: 10px;
  background: #fafafa;
  box-shadow: 2px 4px #000046;
  box-sizing: border-box;
  transition: all 0.2s linear;
  outline: none;
  width: 600px;
}

details {
  display: block;
  color: #000046;
  padding: 0.75em;
  height: auto;
  border-width: 1px;
  border-style: solid;
  border-color: var(--ast-border-color);
  border-radius: 10px;
  background: #fafafa;
  box-shadow: 2px 4px rgba(128, 128, 128, 0.555);
  box-sizing: border-box;
  transition: all 0.2s linear;
  outline: none;
  width: 600px;
}
.details h4 {
  color: black;
}

.collect p {
  background: linear-gradient(119.54deg, #000046 0%, #1cb5e0 100%);
  /* background-color: #0d2c45; */
  box-shadow: 2px 4px #000046;
  box-sizing: border-box;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
}
.type label {
  color: black;
}
button {
  box-shadow: 2px 1px #000046;
  color: #ffffff;
  background: linear-gradient(119.54deg, #000046 0%, #1cb5e0 100%);
  border-radius: 16px;
  padding: 15px 36px;
  font-size: 10px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 1px;
  width: 250px;
  padding-left: 30px;
  gap: 20px;
}
button:hover {
  color: wheat;
}
.click {
  display: flex;
  gap: 60px;
  padding: 25px;
}
.type {
  justify-content: space-around;
}
.success {
  display: flex;
  padding-left: 160px;
}
