* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Grold-Regular";
  font-weight: bold;
}
@font-face {
  font-family: "Grold-Regular";
  src: url(./Fonts/Grold-Regular.ttf);
}
.inputs label {
  color: black;
}

.App {
  padding: 40px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
}
.book {
  padding: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--ast-border-color);
  box-shadow: 2px 1px 2px 1px #0d2c45;
}
.book:hover {
  background-color: rgba(227, 227, 241, 0.479);
}
.click a {
  color: white;
  text-decoration: none;
}
.click a:hover {
  background-color: #1cb5e0;
}
input {
  display: block;
  color: #666;
  padding: 0.75em;
  height: auto;
  border-width: 1px;
  border-style: solid;
  border-color: var(--ast-border-color);
  border-radius: 10px;
  box-shadow: 2px 4px #0d2c45;
  box-sizing: border-box;
  transition: all 0.2s linear;
  outline: none;
  width: 600px;
}
input:hover {
  background-color: #d3d3de;
}
.App p {
  background: linear-gradient(119.54deg, #000046 0%, #1cb5e0 100%);
  box-shadow: 2px 4px #0d2c45;
  box-sizing: border-box;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
}
.App p:hover {
  background-color: #7fa1b9a1;
}

.book button {
  box-shadow: 2px 1px #0d2c45;
  border-style: solid;
  color: #ffffff;
  background: linear-gradient(119.54deg, #000046 10%, #1cb5e0 100%);
  border-radius: 16px;
  padding: 15px 36px;
  font-size: 10px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 1px;
  width: 250px;
  padding-left: 30px;
  gap: 20px;
}
button:hover {
  background-color: gainsboro;
}
.click {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  padding: 25px;
}
.book {
  justify-content: space-around;
}

@media (max-width: 780px) {
  form {
    width: 100%;
  }
  .inputs,
  input,
  label {
    width: 100%;
  }
}
