* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainpage {
  position: sticky;
  top: 0;
}
.Topnav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(119.54deg, #000046 0%, #1cb5e0 100%);
  padding: 2%;
  position: sticky;
  top: 0;
}

.Topnav a {
  text-decoration: none;
  color: wheat;
  font-size: x-large;
}

.but button {
  width: 100%;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border: none;
  line-height: 50px;
  font-size: 14px;
  font-weight: 600;
  height: 50px;
  padding: 0 2rem;
  color: #c07a41;
  letter-spacing: 0;
  color: #fff;
  background-color: #5c39298e;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 12%);
  border-radius: 10px;
}

.hero {
  background: linear-gradient(119.54deg, #000046 0%, #1cb5e0 100%);
  padding: 0%;
  text-align: center;
  color: wheat;
}
.list h6 {
  font-size: 16px;
  background-color: lightskyblue;
  color: black;
  font-family: "grold";
}
